@charset "utf-8";

/* Anchors within the page needs this trick
 * to avoid that the header stays over the
 * elements.
 */
@mixin anchor {
  margin-top: -110px;
  padding-top: 110px;
}

/* ====================
Services - MVP
==================== */

#cover-mvp {
  margin:  80px 0 0 0;
  padding: 30px 0;

  background: #222 url('/images/mvp-page/pattern.jpg');
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-bottom: 10px solid $grey2;
  color: #fff;

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 62px;
    line-height: 65px;
    color: #fff;
  }

  .description {
    font-weight: 300;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    font-size: $font-large;
  }

  a {
    outline: none;
    text-decoration: none;
  }
}

#call-to-action {
  @include round_borders (4px);
  position: relative;
  box-shadow: 0 0 12px #111;
  border: 1px solid #ff1717;
  height: 50px;
  line-height: 50px;
  background: $he_red;
  padding: 5px 35px;
  margin: 45px 0 20px 0;
  text-decoration: none;
  display: inline-block;
  font-size: $font-large;
  font-weight: bold;
  color: #fff;
  z-index: 9999;

  &:hover {
    background: #c10808;
  }
}

/* Como Funciona */

#mvp-steps {
  margin-left: 92px;
  margin-top: 35px;
  overflow: hidden;
  text-align: center;
}

#mvp-steps li {
  width: 150px;
  text-transform: uppercase;
  line-height: 21px;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  position: relative;
  float: left;

  img {
    width: 80%;
    margin-bottom: -15px;
  }

  p {
    min-height: 40px;
    font-size: $font-medium;
    color: #fff;
    margin: 0;
  }
}

.plus-icon,
.equal-icon {
  width: 20px !important;
  color: $he_red;
  font-size: $font-big;
  font-weight: bold;
  margin-top: 55px;
}

.plus-01 {
  margin-left: -20px;
  margin-right: 10px;
}

.plus-02 {
  margin-left: 10px;
  margin-right: -15px;
}

.plus-03 {
  margin-left: -15px;
  margin-right: -5px;
}

.equal-icon {
  margin-right: -15px;
  margin-left: -5px;
}

/* MVP */
#mvp {
  section {
    h2 {
      font-size: $font-large;
      margin: 50px 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
  }
}

/* MVP explained */

#mvp-explained {
  @include clearfix;
  @include anchor;

  text-align: left;
  position: relative;
  margin-bottom: 20px;

  .column-01,
  .column-02 { width: 46%; }

  .column-01 {
    float: left;

    h2 {
      font-size: $font-large;
      margin: 0 0 15px 0;
    }

    p {
      font-size: $font-medium2;
      line-height: 26px;
    }
  }

  .column-02 {
    float: right;

    iframe {
      width: 98%;
      padding: 1%;
      box-shadow: 0 0 12px #111;
      background: $grey3;
    }
  }
}

/* Explanation of the "Formula" */

#mvp-formula {
  margin: 80px 0;
  text-align: left;

  h2 {
    font-size: $font-large;
    margin: 0 0 15px 0;
  }

  .step {
    /* Each step has a link to it, so we need to
     * compensate the fixed position of the header
     */
    @include anchor;

    h3 {
      font-size: $font-medium2;
      margin: 25px 0;
    }
  }
}

/* Projects */

#mvp-projects {
  margin-top: 50px;

  ul {
    text-align: center;

    li {
        width: 22%;
        margin: 0 1% 50px 1%;
        display: inline-block;
    }

    img {
        width: 97%;
        border: 1px solid $light-grey2;
        padding: 1%
    }

    h4 {
        text-transform: none;
        margin: 15px 0 0 0;
        font-size: $font-medium2;
        color: #000;
    }

    a {
        text-decoration: none;
        h4 { color: $he_red; }

        &:hover img { opacity: .7; }
    }
  }
}

#contact {
  @include anchor;
}